In [1]:
# importing libraries
import pandas as pd
import numpy as np

In [2]:
#Read the movie Dataset
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')
items

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Select only needed Item
movie_content=items[['movie id','movie title','Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']]
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [4]:
top=movie_content.sort_values('Action',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
545,546,Broken Arrow (1996),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
228,229,Star Trek III: The Search for Spock (1984),1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
226,227,Star Trek VI: The Undiscovered Country (1991),1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
225,226,Die Hard 2 (1990),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
778,779,Drop Zone (1994),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
top=movie_content.sort_values('Adventure',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1292,1293,Star Kid (1997),0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0
540,541,Mortal Kombat (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
141,142,Bedknobs and Broomsticks (1971),0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1104,1105,Firestorm (1998),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
379,380,Star Trek: Generations (1994),1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [7]:
top=movie_content.sort_values('Animation',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
100,101,Heavy Metal (1981),1,1,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
968,969,Winnie the Pooh and the Blustery Day (1968),0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1366,1367,Faust (1994),0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
541,542,Pocahontas (1995),0,0,1,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0

In [8]:
top=movie_content.sort_values('Children\'s',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
541,542,Pocahontas (1995),0,0,1,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0
422,423,E.T. the Extra-Terrestrial (1982),0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0
425,426,"Transformers: The Movie, The (1986)",1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0
431,432,Fantasia (1940),0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [9]:
top=movie_content.sort_values('Comedy',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
384,385,True Lies (1994),1,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
804,805,Manhattan Murder Mystery (1993),0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
817,818,Girl 6 (1996),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
818,819,Eddie (1996),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
top=movie_content.sort_values('Crime',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
805,806,Menace II Society (1993),1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
230,231,Batman Returns (1992),1,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
1605,1606,Deceiver (1997),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1197,1198,Purple Noon (1960),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
801,802,Hard Target (1993),1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0

In [11]:
 top=movie_content.sort_values('Documentary',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
849,850,"Perfect Candidate, A (1996)",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1593,1594,Everest (1998),0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
359,360,Wonderland (1997),0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
700,701,"Wonderful, Horrible Life of Leni Riefenstahl, ...",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1183,1184,"Endless Summer 2, The (1994)",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [12]:
top=movie_content.sort_values('Drama',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
841,842,Pollyanna (1960),0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0
949,950,Georgia (1995),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
954,955,Before Sunrise (1995),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
955,956,Nobody's Fool (1994),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
957,958,To Live (Huozhe) (1994),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [13]:
top=movie_content.sort_values('Fantasy',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
950,951,"Indian in the Cupboard, The (1995)",0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
831,832,Bogus (1996),0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0
1292,1293,Star Kid (1997),0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0
1291,1292,"Simple Wish, A (1997)",0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
557,558,Heavenly Creatures (1994),0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0

In [14]:
top=movie_content.sort_values('Film-Noir',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1312,1313,Palmetto (1998),0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0
524,525,"Big Sleep, The (1946)",0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
653,654,Chinatown (1974),0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0
655,656,M (1931),0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0
656,657,"Manchurian Candidate, The (1962)",0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0

In [15]:
top=movie_content.sort_values('Horror',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
440,441,"Amityville Horror, The (1979)",0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
670,671,Bride of Frankenstein (1935),0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
680,681,Wishmaster (1997),0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
216,217,Bram Stoker's Dracula (1992),0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
1476,1477,Nightwatch (1997),0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0

In [16]:
top=movie_content.sort_values('Musical',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
595,596,"Hunchback of Notre Dame, The (1996)",0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1285,1286,Shall We Dance? (1937),0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0
967,968,"Inspector General, The (1949)",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
142,143,"Sound of Music, The (1965)",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
537,538,Anastasia (1997),0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [17]:
top=movie_content.sort_values('Mystery',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1451,1452,Lady of Burlesque (1943),0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
301,302,L.A. Confidential (1997),0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0
573,574,Boxing Helena (1993),0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0
944,945,Charade (1963),0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,1,0,0
1019,1020,Gaslight (1944),0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0

In [18]:
top=movie_content.sort_values('Romance',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
785,786,"Perez Family, The (1995)",0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
1049,1050,"Ghost and Mrs. Muir, The (1947)",0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
219,220,"Mirror Has Two Faces, The (1996)",0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
1501,1502,Naked in New York (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
216,217,Bram Stoker's Dracula (1992),0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0

In [19]:
top=movie_content.sort_values('Sci-Fi',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
473,474,Dr. Strangelove or: How I Learned to Stop Worr...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
1005,1006,Until the End of the World (Bis ans Ende der W...,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
757,758,Lawnmower Man 2: Beyond Cyberspace (1996),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
140,141,"20,000 Leagues Under the Sea (1954)",0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0
754,755,Jumanji (1995),1,1,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0

In [20]:
top=movie_content.sort_values('Thriller',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
924,925,Unforgettable (1996),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
688,689,"Jackal, The (1997)",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
290,291,Absolute Power (1997),0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0
716,717,"Juror, The (1996)",0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
287,288,Scream (1996),0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0

In [21]:
top=movie_content.sort_values('War',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
718,719,Canadian Bacon (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
548,549,Rob Roy (1995),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
285,286,"English Patient, The (1996)",0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
109,110,Operation Dumbo Drop (1995),1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
198,199,"Bridge on the River Kwai, The (1957)",0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0

In [22]:
top=movie_content.sort_values('Western',ascending=False).head(5)
top

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
469,470,Tombstone (1993),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
96,97,Dances with Wolves (1990),0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
1187,1188,Young Guns II (1990),1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
1586,1587,Terror in a Texas Town (1958),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
50,51,Legends of the Fall (1994),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,1